{% extends 'base.html' %}
{% block title %}Добавить рецепт{% endblock %}
{% block content %}
<h2>Добавить рецепт</h2>
<form method="POST" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <div class="mb-3">
    {{ form.title.label(class="form-label") }}
    {{ form.title(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.description.label(class="form-label") }}
    {{ form.description(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.cook_time.label(class="form-label") }}
    {{ form.cook_time(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.portions.label(class="form-label") }}
    {{ form.portions(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.ingredients.label(class="form-label") }}
    {{ form.ingredients(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.steps.label(class="form-label") }}
    {{ form.steps(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.images.label(class="form-label") }}
    {{ form.images(class="form-control", multiple=True) }}
  </div>
  <div class="mb-3">
    {{ form.submit(class="btn btn-success") }}
  </div>
</form>
{% endblock %}
